@import './styles/color';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  $bgGray;
}

#app{
    &.home{
        display: flex;
        min-height: 100vh;
    }
    .sidebar{
        width: 15%;
        background-color: $sidebarColor;
    }
    .sidebar__heading{
        height: 170px;
        background-color: $primaryColor;
        color: $fontColor1;
        font-family: Arial;
    }
    .sidebar__heading h1{
        padding: 20px 10px 10px 10px;
    }
    .sidebar__heading hr{
        width: 80%;
        display: block;
        margin: 20px 10px 20px 10px;
    }
    
    .main{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}